body {
  margin: 0px;
}
.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: minmax(100px, auto) repeat(3, 1fr);
}
.listContainer {
  background-color: blue;
  grid-row: 1/5;
}
.main {
  background-color: red;
  grid-column: 2/3;
  grid-row: 2/5;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding-left: 15px;
}
.projectsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(250px, 1fr);
  gap: 15px;
}
.project {
  border: solid black;
}
.announcements {
  display: grid;
  grid-template-rows: 1fr 1fr;
  padding-left: 30px;
}
.header {
  background-color: green;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding-top: 1rem;
  padding-left: 2rem;
}
input {
  width: 600px;
  border-radius: 15px;
}
.buttons a {
  background-color: red;
  text-align: center;
  border-radius: 8px;
  font-size: 26px;
}
h2 {
  margin: 0px;
  grid-column: span 2;
  padding: 10px;
}
